<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Drinks</title>
    </head>
    <body>
        <header>
            <a href="/drinks">Drinks</a> 
            - <a href="/types">Drink Types</a>
            {% if user.username %}
            - <a href="/logout">Logout: {{user.username}}</a>
            {% else %}
            - <a href="/accounts/login">Login</a>
            - <a href="/register">Register</a>
            {% endif %}

        </header>
        <main>
            {% block "content" %}
            {% endblock "content" %}
        </main>
    </body>
</html>
